.services .row {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.services .row.visible {
  opacity: 1;
  transform: translateY(0);
}

.services .row:nth-child(odd){
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px){
  .services .row {
    /* display: flex; */
    flex-direction: row;
  }
  .services .row:nth-child(odd){
    display: flex;
    flex-direction: row;
  }
}